body {
	background-image: url(./images/9ab8db7ce47271692491e5b6b5ce3797.jpg);
	background-position:center;
	background-size: 150%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;

	color:pink;
}

.position {
	/* background-image: url(./images/black-background_00313351.jpg); */
	text-align: center;
	padding:30px;
	margin:10px;
}

.searchImage {
	border: solid;
	border-color:pink;
	border-width: 5px;
}

.center {
	text-align: center;
	margin: 30px;
	/* background-color: gray; */
	
}

.position2 {
	text-align: center;
	/* border: solid; */
	/* border-color: pink; */
	/* border-width: 20px; */
}

.button {
	margin:10px;
	height: 50px;
	width: 300px;
}

.searchButton {
	margin:10px;
}

.padding {
	margin:20px;
	border: solid;
	border-color: pink;
	color: black;
	height: 50px;
	width:100px;
	align-content: center;
}

.search-item {
	align-content: center;
	float: left;
}

.searchButton {
	color: black;
	height: 50px;
	border: solid;
	border-color:pink;
}